   

        <!-- Begin page -->
        <div id="wrapper">

            <!-- ========== Left Sidebar Start ========== -->
            <div class="left side-menu">

                <!-- LOGO -->
                <div class="topbar-left">
                    <div class="">
                        <!--<a href="index.html" class="logo text-center">Admiria</a>-->
                        <a href="index.html" class="logo" ><img src="assets/images/logo-sm.png" height="56" alt="logo" style="margin-left: 65px;"></a>
                    </div>
                </div>

                <div class="sidebar-inner slimscrollleft">
                    <div id="sidebar-menu">
                        <ul>
                            <li class="menu-title">Main</li>
                            <!-- <li class="has_sub">
                                <a routerLink="/" class="waves-effect"><i class="mdi mdi-view-dashboard"></i> <span> Dashboard <span class="badge badge-pill badge-primary pull-right">20+</span></span> </a>
                            </li> -->
                            <li class="has_sub">
                                <a routerLink="/archiveInput" class="waves-effect"><i class="mdi mdi-file-document"></i> <span> Input</span> </a>
                            </li>
                              <li>
                                  <a routerLink="/archiveRecive" class="waves-effect"><i class="mdi mdi-cube-outline"></i><span> Recive </span></a>
                              </li>
                              <li class="has_sub">
                                  <a routerLink="/archiveRelease" class="waves-effect"><i class="mdi mdi-exit-to-app"></i><span> Release </span></a>
                              </li>
                              <li class="has_sub">
                                <a routerLink="/borrowAllArchive" class="waves-effect"><i class="mdi mdi-exit-to-app"></i><span> Pengajuan Borrow </span></a>
                            </li>
                            <li class="has_sub">
                              <a routerLink="/returnAllArchive" class="waves-effect"><i class="mdi mdi-exit-to-app"></i><span> Dokumen Return </span></a>
                          </li>
                            <!-- <li>
                                <a routerLink="/trips" class="waves-effect"><i class="mdi mdi-road-variant"></i><span> Trips </span></a>
                            </li>
                            <li>
                                <a routerLink="/profile"  class="waves-effect"><i class="mdi mdi-account-circle"></i><span> Profile </span></a>
                            </li> -->
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div> <!-- end sidebarinner -->
            </div>
            <!-- Left Sidebar End -->

            <!-- Start right Content here -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">

                    <!-- Top Bar Start -->
                    <div class="topbar">

                        <nav class="navbar-custom">
                            <!-- Search input -->
                            <div class="search-wrap" id="search-wrap">
                                <div class="search-bar">
                                    <input class="search-input" type="search" placeholder="Search" />
                                    <a href="#" class="close-search toggle-search" data-target="#search-wrap">
                                        <i class="mdi mdi-close-circle"></i>
                                    </a>
                                </div>
                            </div>

                            <ul class="list-inline float-right mb-0">
                                <!-- Search -->
                                <li class="list-inline-item dropdown notification-list">
                                    <a class="nav-link waves-effect toggle-search" href="#"  data-target="#search-wrap">
                                        <i class="mdi mdi-magnify noti-icon"></i>
                                    </a>
                                </li>
                                <!-- Fullscreen -->
                                <!-- <li class="list-inline-item dropdown notification-list hidden-xs-down">
                                    <a class="nav-link waves-effect" href="#" id="btn-fullscreen">
                                        <i class="mdi mdi-fullscreen noti-icon"></i>
                                    </a>
                                </li> -->
                                <!-- notification-->
                                <!-- <li class="list-inline-item dropdown notification-list">
                                    <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button"
                                       aria-haspopup="false" aria-expanded="false">
                                        <i class="ion-ios7-bell noti-icon"></i>
                                        <span class="badge badge-danger noti-icon-badge">3</span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg"> -->
                                        <!-- item-->
                                        <!-- <div class="dropdown-item noti-title">
                                            <h5>Notification (3)</h5>
                                        </div> -->

                                        <!-- item-->
                                        <!-- <a href="javascript:void(0);" class="dropdown-item notify-item active">
                                            <div class="notify-icon bg-success"><i class="mdi mdi-cart-outline"></i></div>
                                            <p class="notify-details"><b>Your order is placed</b><small class="text-muted">Dummy text of the printing and typesetting industry.</small></p>
                                        </a> -->

                                        <!-- item-->
                                        <!-- <a href="javascript:void(0);" class="dropdown-item notify-item">
                                            <div class="notify-icon bg-warning"><i class="mdi mdi-message"></i></div>
                                            <p class="notify-details"><b>New Message received</b><small class="text-muted">You have 87 unread messages</small></p>
                                        </a> -->

                                        <!-- item-->
                                        <!-- <a href="javascript:void(0);" class="dropdown-item notify-item">
                                            <div class="notify-icon bg-info"><i class="mdi mdi-martini"></i></div>
                                            <p class="notify-details"><b>Your item is shipped</b><small class="text-muted">It is a long established fact that a reader will</small></p>
                                        </a> -->

                                        <!-- All-->
                                        <!-- <a href="javascript:void(0);" class="dropdown-item notify-item">
                                            View All
                                        </a> -->

                                    <!-- </div>
                                </li> -->
                                |
                                <!-- User-->
                                <li class="list-inline-item dropdown notification-list">
                                    <a class="nav-link dropdown-toggle arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button"
                                       aria-haspopup="false" aria-expanded="false">
                                       <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{userData.name}}</span> 
                                       <img src="../../assets/images/logo_login.jpg" alt="user" class="rounded-circle">
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                        <a class="dropdown-item" routerLink="/profile"><i class="dripicons-user text-muted"></i> Profile</a>
                                        <a class="dropdown-item" href="#"><i class="dripicons-lock text-muted"></i> Lock screen</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" (click)="doLogout()"><i class="dripicons-exit text-muted"></i> Logout</a>
                                    </div>
                                </li>
                            </ul>

                            <!-- Page title -->
                            <ul class="list-inline menu-left mb-0">
                                <li class="list-inline-item">
                                    <button type="button" class="button-menu-mobile open-left waves-effect">
                                        <i class="ion-navicon"></i>
                                    </button>
                                </li>
                                <li class="hide-phone list-inline-item app-search">
                                    <h3 class="page-title">Dashboard</h3>
                                </li>
                            </ul>

                            <div class="clearfix"></div>
                        </nav>

                    </div>
                    <!-- Top Bar End -->

                    <!-- ==================
                         PAGE CONTENT START
                         ================== -->
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Archive Management</h1>
          <!-- <p class="mb-4">Agency owned buses</p> -->

          <!--<editor-fold desc="Table Bus">-->
          <form class="row" th:object="${kontrak}" method="post" id="updateKontrak" action="#">
              <div class="col-xl-8 col-lg-7">
                  <div class="card shadow mb-4">
                      <!-- Card Body -->
                      <div class="card-body">
                          <div class="chart-area">
                              <label for="kontrakNomor" style="margin-top:30px"><b>Nomor Kontrak</b></label>
                              <input type="text" class="form-control form-control-user" id="kontrakNomor"
                                     name="kontrak.nomor" aria-describedby="emailHelp" placeholder="Nomor Kontrak"
                                     [(ngModel)]="kontrak.nomor" required>

                              <label for="kontrakNama" style="margin-top:30px"><b>Nama Konsumen</b></label>
                              <input type="text" class="form-control form-control-user" id="kontrakNama"
                                     name="kontrak.Nama" aria-describedby="emailHelp" placeholder="Nama Konsumen"
                                     [(ngModel)]="kontrak.nama" required>       
                                      
                                     <label for="TglRealisasi" style="margin-top:30px"><b>Tanggal Realisasi</b></label>
                                     <input  type="date" class="form-control form-control-user" id="TglRealisasi"
                                            name="kontrak.tglRealisasi" aria-describedby="emailHelp" placeholder="Tanggal Realisasi"
                                            [(ngModel)]="kontrak.tglRealisasi" required>
                                     
                              <label for="kontrakSGU" style="margin-top:30px"><b>Jenis SGU</b></label>
                              <div>
                                <select #selectElem (change)="setNewUser(selectElem.value)" required>
                                    <option value="" disabled selected>Select your option</option>
                                    <option *ngFor="let user of lJenisSGU" [value]="user.Code" >
                                        {{user.Name}}
                                    </option>
                                </select>
                            </div>

                                     <div style="margin-top: 15px;">    
                                      
          <p style=" font-weight: bold;margin-left: 10px;">DOSIER ASLI</p>
          <!-- <div style="margin-top: 15px;">     -->
            <label class="list-group-item">
               <div > <input type="checkbox" [(ngModel)]="isMasterSel" name="list_name" value="h1" (change)="checkUncheckAll()"/>  <strong>Select All / Unselect All</strong>
               </div>
              <label class="checkbox-inline" *ngFor="let item of categoryList">
                <input type="checkbox" [(ngModel)]="item.isSelected" name="list_name" value="{{item.id}}" (change)="isAllSelected()"/>
                {{item.value}}
              </label>
            </label>  <!-- </div> -->
          <p style=" font-weight: bold;margin-left: 10px;">DOSIER COPY</p>
          <label class="list-group-item">
            <!-- <div > <input type="checkbox" [(ngModel)]="isMasterSel2" name="list_name" value="h1" (change)="checkUncheckAll2()"/>  <strong>Select All / Unselect All</strong>
            </div> -->
           <label class="checkbox-inline" *ngFor="let item2 of categoryList2">
             <input type="checkbox" [(ngModel)]="item2.isSelected" name="list_name" value="{{item2.id}}" (change)="isAllSelected2()"/>
             {{item2.value}}
           </label>
         </label> 
                          </div>

                          <label style="margin-top:30px" for="file">Choose File</label>
                          <input type="file"
                                 id="file"
                                 (change)="handleFileInput($event.target.files)">
                      <!-- </div> -->
            <div><label for="keterangan" ><b>Keterangan</b></label>
            <textarea style="height:200px" class="form-control form-control-user" id="keterangan"
                   name="kontrak.keterangan" [(ngModel)]="kontrak.keterangan" aria-describedby="emailHelp" placeholder="Keterangan"
                 > {{ kontrak.keterangan }}</textarea>
              </div>
                            <div>    
                              <button (click)="updateKontrak()" class="btn btn-primary btn-user" style="margin-top:30px">
                                  Add
                              </button>
                          </div>

                      </div>
                      </div>
                  </div>
              </div>

              <!-- Pie Chart -->
              <!-- <div class="col-xl-4 col-lg-5">
                  <div class="card shadow mb-4">
                      Card Body
                      <div class="card-body">
                          <div class="chart-pie pt-4 pb-2">
                              <img class="img-profile rounded-circle" src="../../../assets/images/logo_login.jpg" height="186px" width="186px" style="display: block; margin: auto;">
                          </div>
                          <div class="mt-4 text-center small">
                              <span class="mr-2">
                              <i class="mdi mdi-checkbox-blank-circle text-primary"></i>
                              </span>
                                  <span class="mr-2">
                              <i class="mdi mdi-checkbox-blank-circle text-success"></i>
                              </span>
                                  <span class="mr-2">
                              <i class="mdi mdi-checkbox-blank-circle text-info"></i>
                              </span>
                          </div>
                      </div>
                  </div>
              </div> -->
          </form>
          <!--</editor-fold>-->
      </div>
      <!-- /.container-fluid -->


      <div class="page-content-wrapper">

        <router-outlet></router-outlet>

    </div> <!-- Page content Wrapper -->

</div> <!-- content -->

<footer class="footer">
    ©Copyright 2020 <span class="text-muted d-none d-sm-inline-block float-right">Crafted with <i class="mdi mdi-new-box text-dark"></i> by Baim&Lia</span>
</footer>

</div>
<!-- End Right content here -->

</div>
<!-- END wrapper -->