<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- Popper --> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
       <!-- BootStrap JS -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>

    <body class="fixed-left">

        <!-- Begin page -->
        <div id="wrapper">

                    <div class="page-content-wrapper">

                        <router-outlet></router-outlet>

                    </div> <!-- Page content Wrapper -->

                </div> <!-- content -->

                <footer class="footer">
                    ©Copyright 2020 <span class="text-muted d-none d-sm-inline-block float-right">Crafted with <i class="mdi mdi-new-box text-dark"></i> by Baim&Lia</span>
                </footer>

            <!-- </div> -->
            <!-- End Right content here -->

        <!-- </div> -->
        <!-- END wrapper -->

    </body>
</html>